<h1>City Page</h1>
<table border="1">
    {% for city in cities %}
    <tr>
        {% for cell in city.dump() %}
        <td>
            {{ cell }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{{ form(createForm) }}
{{ form(updateForm) }}
{{ form(dropForm) }}
<div>
    <a href="{{ path('pageroot') }}"> Reload</a>
</div>
<div>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
</div>